/*TIME*/

.timeLabel{
	font-family: 'Helvetiva Neue', sans-serif;	
	font-size: 8pt;
}

/*NODES*/

.nodeLabel{
	font-family: 'Helvetiva Neue', sans-serif;	
	font-size: 8pt;
    text-anchor: end;
	cursor: pointer;	
}

.egolabel{
	fill: #000;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;	
}

.rowBar{
    stroke-width: 1;
    z-index: 100;
}

.rowBar-even{
    fill:#f2f2f2;
}
.rowBar-odd{
    fill: none;
}

/*LINKS*/

.arc{
	fill:none;		
	stroke:#000;
	stroke-width:1;
    opacity: .5;
	marker-end: url(#end-arrow);
}

.linkAnchor{
    stroke:none;
}





