#searchResults{
	list-style: none;
	padding-left:3px;
	line-height: 6px;
}

.searchResult{
	font-size:9pt;
	cursor: pointer;	
}

.searchResult > img{
	height: 15px;
}

.selectionLabel{
	cursor: pointer;		
}