div#noNetworkTables{
    padding-top:100px;
    height: 100px;
}

.nobr {
    white-space: nowrap;
}

img.visicon{
	height: 100px;
	margin-right: 10px;
	border: 1px solid #ddd;
	padding:5px;
} 


table#main{
    border-collapse: collapse;
    min-width: 1110px;
}

#firstRow{
    border-bottom: 1px solid #ddd;  
}

td#menu{
    padding:20px;
    width:200px;
    min-width:250px;
    max-width:250px;
}

td#lists{
    padding: 30px;
}

#center{
    /* width: 400px; */
    /* margin:20px; */
    padding: 20px;
    padding-top: 30px;  
    /* padding-left:40px; */
} 

h2{
    margin-top: 5px;
}

h3{
    font-weight: bold;
}


div.title{
    font-weight: 100;
    font-size: 12pt;
    background-color: #eee;
    border-style: none;
    padding:5px;
    padding: 20px;
    border-radius: 10px;
    padding-top: 10px;
}

div.tableDiv{
    margin-bottom: 20px;
    margin-top: 20px;
}



img.controlIcon{
    height: 10px;
    margin-left: 10px;
    cursor:pointer;
}


.menuicon{
    height: 30px;
}

.inlineicon {
    height: 12pt;
}

.tableMenuButton{
    float:right; 
    margin-left: 10px;
    /*background-color:#E17F3E;*/
    background-color:#bbb;
    border-radius:10px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
}

input#replaceButton{
    margin-left: 10px;
    background-color:#E17F3E;
    border-radius:10px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
}

.menuButton{
    background-color:#bbb;
    border-radius:15px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-size:12px;
    font-weight: normal;
    padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
    margin-left: 5px;

}


.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    /* z-index: -1; */
    font-weight: 500;
}

input#clearCacheButton{
    margin-top:40px;
    text-align: left;
    background-color:#eee;
    border-radius:10px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#111;
    font-size:12px;
    font-weight: 400;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
}


#networkStatus{
    padding: 10px;
    border-radius:10px;
}
 
/* Tables */

option.tableSelection{
    display: inline;
}

.emptyTableCell{
    background-color:#ffeeee;
}

.messageBox{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: .9;
    position: absolute;
    top: 0px;    
    left: 0px;    
}

.messageBox div{
    font-size: 20pt;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 500px;
    padding-top: 300px;
    text-align: center;
    margin:auto;
}

.tablePic{
    height: 100px;
    padding: 10px;
    padding-left: 4px;
 }
.tablePic:hover{
    outline: solid 3px #000;
}






