iframe{
	border: none;
	overflow:hidden;
	overflow-y:hidden;
	margin-top: 50px;
}


h2{
	margin-top: 40px; 

}

div#content{
	width: 1000px;
	margin: auto;
	padding-top: 0px;
}

div#content p{
	text-align: left;
	margin: auto;
	width: 600px;
	font-size: 12pt;
}


p{
	padding-bottom: 1em;
}

p.visLabel{
	font-size: 13pt;
}

img.visimage{
	height: 135px;
}

#vistiles div{
	display: inline-block; 
	*display: inline;

}
